<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <a href="/new">Create New Message</a>

    <ul>
        <% messages.forEach(function(message, index) { %>
            <li>
                <strong><%= message.user %></strong><br>
                <%= message.text %><br>
                <small><%= message.added.toLocaleString() %></small><br>
                <a href="/message/<%= index %>">Open</a>
                <hr>
            </li>
        <% }); %>
    </ul>

</body>
</html>